.Equation > td {
  text-align: center;
  font-size: x-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 20px;
}

.Answer {
    text-align: left;
    width: 40px;
    font-size: large;
}

.ResultImage {
  width: 20px;
  height: 20px;
  text-align: center;
  margin-right: 40px;
}
