.QuizSheet {
  margin: 0 auto;
  width: 600px;
}

.ButtonAera {
  text-align: center;
  margin-top: 20px;
}

.Button {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: x-large;
  background-color: lightsalmon;
  border-style: none;
  cursor: pointer;
  width: 150px;
}