.QuizSheet {
  margin: 0 auto;
  width: 600px;
}

.QuestionArea {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
}

.ButtonAera {
  text-align: center;
  margin:  0 auto;
  width: 150px;
}